@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
:root {
    --background-color: 0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Titan One, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
